@charset "UTF-8";
html {
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体", "ヒラギノ角ゴ Pro w3", sans-serif;
  margin: 0%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;   
}

/* メニューバー */

header {
    position: fixed;
    width: 50%;
    right: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    background-color: #1e90ff;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #000;    
}

.menu tr {
    color: #fff;
}

.menu tr th {
    font-size: 17px;
    height: 60px;
}

.menu tr th a {
    margin: auto;
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background:rgba(0,0,0,0);
}

.menu tr th a:hover {
    color: #1e90ff;
    cursor: pointer;
    transform: scale(1.15);
}

.menu0 {
    width: 170px;
}

.menu1 {
    width: 170px;
}

/* 共通 */

main {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
}

p {
    color: #000;
}

font {
    color: #000;
} 

hr {
    display: none;
}

map {
    display: none;
}

em {
    font-style: normal;
    font-size: 110%;
    font-weight: bold;
    color: crimson;
}

.chapter {
    font-size: 18px;
}

/* トップページ */



img[src="title.PNG"] {
    display: none;
}

.left {
    width: 55%;
    height: 500px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    /* padding-left: 5%; */
}

.left h1 {
    font-size: 120px;
    height: 140px;
    margin: 0px;
}

.left h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    margin-top: 40px;
}

.left h3 {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.left p {
    height: 30px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 28px;
    text-align: left;
    font-weight: bold;
}

.left p b {
    font-size: 110%;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 120px;
    /* margin-right: 5%; */
}

.right h4 {
    color: #454545;
    font-size: 65px;
    height: 55px;
    margin: auto;
    margin-top: 50px;
    margin-left: 90px;
    padding-bottom: -50px;
    position: relative;
    z-index: 5;
}

.right table {
    width: 85%;
    height: 500px;
    margin: auto;
    padding: 25px;
    background-color: #d3d3d3;
    display: block;
    overflow-y: scroll;
    font-size: 18px;
}

.right table tr td {
    display: flex;
    justify-content: left;
}

.right table tr td img {
    width: 20px;
    height: 20px;
    margin: auto;
}

.right table tr td a {
    flex: 1;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
    background:rgba(0,0,0,0);
}

.right table tr td a:hover {
    color: #1e90ff;
    cursor: pointer;
}

.kako {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    width: 85%;
    margin: auto;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 2px solid #000;
}

.kako:hover {
    color: #000;
    background-color: #d3d3d3;
    font-weight: bold;
    cursor: pointer;
}

/* Theme */

main a {
    font-weight: bold;
    transition: all 0.3s ease 0s;
    width: auto;
}

main a:hover {
    color: #1e90ff;
    cursor: pointer;
}

main TABLE {
    width: 100%;
    display: block;
    overflow-x:scroll;
    background-color: #d3d3d3;
    margin-top: 30px;
}

.imagebox {
    text-align: center;
    margin: 10px;
}

video {
    height: 250px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #000;
}

.photo {
    height: 250px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #000;
}

.caption {
    font-size: 15px;
    font-weight: bold;
}

/* report */

.list{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #d3d3d3;
}

.list a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#b01 {
    padding-top: 60px;
}

#b01 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b02 {
    padding-top: 60px;
}

#b02 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b03 {
    padding-top: 60px;
}

#b03 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b04 {
    padding-top: 60px;
}

#b04 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b05 {
    padding-top: 60px;
}

#b05 a{
    font-size: 25px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b06 {
    padding-top: 60px;
}

#b06 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b07 {
    padding-top: 60px;
}

#b07 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

#b08 {
    padding-top: 60px;
}

#b08 a{
    font-size: 28px;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

/* その他 */

.box {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 0px;
}

.box h3 {
    font-size: 30px;
    width: auto;
    margin: 0%;
}

main h2 {
    font-size: 30px;
    padding-top: 50px;
    /* padding: 2px 12px; */
    border-bottom: 3px solid #d3d3d3;
    /* border-left: 8px solid #1e90ff; */
}

#a01:first-letter {
    font-size: 50px;
    color: #1e90ff;
    margin-right: 5px;
}

#a02:first-letter {
    font-size: 50px;
    color: #1e90ff;
    margin-right: 5px;
}

#a03:first-letter {
    font-size: 50px;
    color: #1e90ff;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #000;
}

main ul {
    list-style: square;
    margin: 0%;
    width: auto;
}

/* main ul li {
    height: 40px;
} */

main ul li a{
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

main ul li a:hover{
    color: #1e90ff;
    cursor: pointer;
    transform: scale(1.15);
}

/* フッター */

footer {
    width: 100%;
    height: 40px;
    position: re;
    bottom: 0;
}