@charset "UTF-8";
html {
  font-size: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体", "ヒラギノ角ゴ Pro w3", sans-serif;
  margin: 0%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;  
}

/* メニューバー */

header {
    position: fixed;
    width: 50%;
    right: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    background-color: #1e90ff;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #000;    
}

.menu tr {
    color: #fff;
}

.menu tr th {
    font-size: 17px;
    height: 60px;
}

.menu tr th a {
    margin: auto;
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background:rgba(0,0,0,0);
}

.menu tr th a:hover {
    color: #1e90ff;
    cursor: pointer;
    transform: scale(1.15);
}

.menu0 {
    width: 170px;
}

.menu1 {
    width: 170px;
}

.menu tr th br {
    display: none;
  }

.menu br {
    display: none;
}

/* 共通 */

main {
    display: flex;
    justify-content: flex-start;
}

p {
    color: #000;
}

font {
    color: #000;
} 

hr {
    display: none;
}

br {
    display: none;
}

map {
    display: none;
}


/* トップページ */

img[src="title.PNG"] {
    display: none;
}

.left {
    width: 55%;
    height: 500px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.left h1 {
    font-size: 120px;
    height: 140px;
    margin: 0px;
}

.left h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    margin-top: 40px;
}

.left h3 {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.left p {
    height: 30px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 28px;
    text-align: left;
    font-weight: bold;
}

.left p b {
    font-size: 110%;
    background: linear-gradient(transparent 70%, #1e90ff 70%);
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 120px;
    margin-right: 50px;
}

.right h4 {
    color: #454545;
    font-size: 65px;
    height: 55px;
    margin: auto;
    margin-top: 50px;
    margin-left: 90px;
    padding-bottom: -50px;
    position: relative;
    z-index: 5;
}

.right table {
    width: 85%;
    height: 500px;
    margin: auto;
    padding: 25px;
    background-color: #d3d3d3;
    display: block;
    overflow-y: scroll;
    font-size: 18px;
}

.right table tr td {
    display: flex;
    justify-content: left;
}

.right table tr td img {
    width: 20px;
    height: 20px;
    margin: auto;
}

.right table tr td a {
    flex: 1;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
    background:rgba(0,0,0,0);
}

.right table tr td a:hover {
        color: #1e90ff;
        cursor: pointer;
}

.kako {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    width: 85%;
    margin: auto;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 2px solid #000;
}

.kako:hover {
    color: #000;
    background-color: #d3d3d3;
    font-weight: bold;
    cursor: pointer;
}

/* フッター */

footer {
    width: 100%;
    height: 40px;
    background-color: #000;
    position: absolute;
    bottom: 0;
}