body {
 background-color: #FFFFFF;
 margin          : 20px;
 margin-top      :  0px;
 font-size       : 90%;
 width           : 692px;
 line-height     : 150%;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;

}
a:link {
 color           : #0033FF;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
 text-decoration : none
}
a:visited {
 color           : #6633CC;
 text-decoration : none;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:hover {
 color           : #0033FF;
 background-color: #FF0000;
 text-decoration : none;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:active {
 color           : #FF33AA;
 text-decoration : none;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
h1 {
 color           : #FFFFFF;
 background-color: #000000;
 font-size       : 140%;
 font-weight     : bold;
 margin-top      : 24px;
 padding         :  6px;
 padding-left    : 36px;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
h2 {
 color           : #3A3A3A;
 background-color: #FFFFFF;
 font-size       : 140%;
 font-weight     : bold;
 margin-top      : 24px;
 padding         :  6px;
 padding-left    : 12px;
 border-left     : #000000 32px solid;
 border-right    : #000000  2px solid;
 border-top      : #000000  2px solid;
 border-bottom   : #000000  2px solid;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
h3 {
 color           : #3A3A3A;
 background-color: #FFFFFF;
 font-size       : 120%;
 font-weight     : bold;
 margin-top      : 14px;
 margin-bottom   :  6px;
 padding-left    : 20px;
 border-left     : #000000 20px solid;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
table.menu {
 margin-top      :  8px;
 margin-bottom   : 16px;
 border-spacing  :  0px;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
th.menu0 {
 width           : 172px;
 text-align      : center;
 color           : #000000;
 background-color: #FFFFFF;
 font-size       : 120%;
 font-weight     : bold;
 padding         :  8px;
 border          :  2px #000000 solid;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
th.menu1 {
 width           : 172px;
 text-align      : center;
 color           : #FFFFFF;
 background-color: #000000;
 font-size       : 120%;
 font-weight     : bold;
 padding         :  8px;
 border          :  2px #000000 solid;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
.up {
 text-align      : right;
}
a:link.menu,a:visited.menu {
 display         : block;
 width           : 100%;
 height          : 100%;
 color           : #000000;
 backgroud-color : #FFFFFF;
 text-decoration : none
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:hover.menu {
 display         : block;
 width           : 100%;
 height          : 100%;
 font-size       : 100%;
 color           : #000000;
 background-color: #FF0000;
 text-decoration : none
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:active.menu {
 display         : block;
 width           : 100%;
 height          : 100%;
 font-size       : 100%;
 color           : #000000;
 background-color: #FF0000;
 text-decoration : none
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
pre.bgcolor {
 background-color: #ECECEC;
/*
 background-color: #D7EEF0;
*/
 margin-top      :  2px;
 padding         : 10px;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
