#container{
 width:1024px;
 margin-left:auto;
 margin-right:auto;
/*border-top: 1px solid #999;
 border-left: 1px solid #999;
 border-right: 1px solid #999;
 border-bottom: 1px solid #999;*/
}

#banner{
 background:url(fig/banner.jpg);
 width:1024px;
 height:200px;
 }

#banner h1{
 font-size:10px;
 color:#cccccc;
 padding-bottom:10px;
 padding-left:20px;
 }

#content{
 float:right;
 width:810px;
 padding-left:10px;
 padding-right:0px;
 }

#menu{ 
 float:left;
 width:194px;
 padding-right:10px;
 }
h2 {
 color           : #3A3A3A;
 background-color: #FFFFFF;
 font-size       : 100%;
 font-weight     : bold;
 margin-top      : 6px;
 padding         : 6px;
 padding-left    : 6px;
 border-left     : #000000 12px solid;
 border-bottom   : #000000  2px solid;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
h3 {
 color           : #3A3A3A;
 background-color: #FFFFFF;
 font-size       : 100%;
 font-weight     : bold;
 margin-top      : 6px;
 padding         : 6px;
 padding-left    : 6px;
 border-left     : #000000 6px solid;
 border-bottom   : #000000  2px solid;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:link {
 color           : #0033FF;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
 text-decoration : none
}
a:visited {
 color           : #6633CC;
 text-decoration : none;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:hover {
 color           : #0033FF;
 background-color: #FF0000;
 text-decoration : none;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}
a:active {
 color           : #FF33AA;
 text-decoration : none;
 font-family     : 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}

hr{
 width:760px;
 padding-left:0px;
 padding-right:0px;
 border:none;
 border-top:dashed 1px #CCC;
 height:1px;
 color:#FFFFFF;
}
#foot{
 clear:both;
 text-align:center;
 font-size:10px;
 background:#fff;
 width:1024px;
 height:20px;}
p {
font-family: 'ƒƒCƒŠƒI', Meiryo, '‚l‚r ‚oƒSƒVƒbƒN', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}

.text_shadow {text-shadow: 2px 2px 1px #000;}

.blur, .blur > img {
    margin: 0; padding: 0;
    border: 0;
}

.blur {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.blur:after {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    -moz-box-shadow: inset 0px 0px 5px 5px #fff;
    -webkit-box-shadow: inset 0px 0px 5px 5px #fff;
    box-shadow: inset 0px 0px 5px 5px #fff;
    content: " ";
}